[Unit]
Description=Monero daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=~

Type=forking
ExecStart=/usr/bin/screen -d -m -S monerod /usr/local/bin/monerod 
ExecStop=/usr/bin/killall -w -s 2 monerod

[Install]
WantedBy=multi-user.target